/.psqlrc
/.vscode
.DS_store
**/*.swp

# temp files
/notes
**/tmp/
/specs

# binaries
pint-server
pint-client
/app/pint-server
/app/pint-client
/keygen
/app/keygen
/app/bin/
/bin/

# but allow cmd
!/app/cmd/pint-server
!/app/cmd/pint-client

# keys, secrets and env
**/.env*

# but allow .env.example
!.env-example

# Ignore all key files by default
*.pem
*.key
*.jwk

# But allow test keys in any testdata directory
!**/testdata/**/*.pem
!**/testdata/**/*.key
!**/testdata/**/*.jwk



