/.psqlrc
/.vscode
.DS_store
**/*.swp

# temp files
/notes
tmp/

# binaries
pint-receiver
pint-sender
/app/pint-receiver
/app/pint-sender
/keygen
/app/keygen
/app/bin/
/bin/

# keys, secrets and env
**/.env*

# Ignore all key files by default
*.pem
*.key
*.jwk

# But allow test keys in any testdata directory
!**/testdata/**/*.pem
!**/testdata/**/*.key
!**/testdata/**/*.jwk



