/.psqlrc
/.vscode
.DS_store
**/*.swp

# temp files
/notes
tmp/

# binaries
pint-receiver
pint-sender
/app/pint-receiver
/app/pint-sender
/keygen
/app/keygen
/app/bin/
/bin/

# keys, secrets and env
keys/
**/*.pem
**/*.jwk
**/*.jwk.json
**/.env*


