root = "."
tmp_dir = "tmp"

[build]
  entrypoint = "./bin/pint-server"
  cmd = "swag init -g ./cmd/pint-server/main.go && sqlc generate && go build -o ./bin/pint-server ./cmd/pint-server/main.go"
  delay = 1000
  exclude_dir = ["tmp", "internal/database", "docs"]
  exclude_file = []
  exclude_regex = [".*_templ.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "templ", "sql", "html"]
  kill_delay = "0s"
  log = "build-errors.log"
  send_interrupt = false
  stop_on_error = true

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  time = false

[misc]
  clean_on_exit = false

[proxy]
  enabled = true
  proxy_port = 8383
  app_port = 8282
